body {
    background-color: #333; /* Dark grey background color */
}

.container {
    width: 700px; /* Width of the centered section */
    background-color: #FAF9F6; /* Light grey background color */
    padding: 20px;
}

img, p, h1, h2, div, .divider {
    width: 100%;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Crimson Text";
}

h1 {
    font-family: "Roboto";
    text-align: center;
    font-size: 36px;
}

img {
    display: block;
}

p {
    font-size: 20px;
    line-height: 1.4;
}

.divider {
    height: 10px;
}

.caption {
    text-align: center;
}

.big_picture {
    max-width: 1000px;
}

.ital {
    font-style: italic;
    text-align: center;
}